@media only screen and (min-width: 768px) {
  h1 {
    font-size: 50px;
    margin-bottom: 10px;
    padding-top: 100px;
    text-align: center;
    color: white;
  }

  .navbar {
    flex-flow: row;
    justify-content: space-between;
    padding-bottom: 0;
  }

  .link span {
    display: none;
  }

  .navbar a {
    text-decoration: none;
    color: white;
    font-size: 15px;
  }

  .button-input {
    padding: 8px;
    border-radius: 8px;
    border: none;
    font-weight: bold;
    background-color: #f17555;
    color: white;
  }

  .last-btn {
    margin-top: 20px;
    padding: 8px;
    border-radius: 4px;
    border: none;
    font-weight: bold;
    background-color: whitesmoke;
    color: black;
  }

  .search :first-child {
    padding-bottom: 10px;
    text-align: start;
  }

  .steps {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .tour {
    height: 230px;
  }

  .tour-left {
    justify-content: center;
  }

  .gallery-left {
    width: 70%;
    flex-flow: column;
    justify-content: space-around;
  }

  .gallery-left h4 {
    font-size: 30px;
    color: white;
  }

  .gallery-left p {
    color: white;
    font-size: 20px;
  }

  .footer-center h3 {
    font-size: 16px;
    margin: 5px;
  }

  .footer-bottom p {
    font-size: 10px;
  }

  .footer-center div p {
    font-size: 14px;
  }

  .footer-top {
    flex-flow: row;
    justify-content: space-between;
    padding-top: 40px;
    margin-bottom: 20px;
    font-size: 12px;
  }

  .footer-top li {
    width: 100%;
  }

  li.icom {
    position: relative;
    width: 180px;
  }

  .icom i {
    position: absolute;
    top: -20px;
    background-color: black;
  }

  .footer-center {
    justify-content: space-around;
    align-items: flex-start;
    padding-top: 0;
    margin-bottom: 35px;
    flex-direction: row;
  }

  .footer-center div {
    font-size: 12px;
    border-bottom: 0;
    width: 33%;
    display: flex;
    flex-flow: column;
    align-items: center;
    height: 100px;
    justify-content: space-between;
  }

  .footer-bottom {
    flex-flow: row nowrap;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    justify-content: space-between;
  }

  .subscribe :first-child {
    background-color: black;
    border: 1px solid rgb(139, 139, 139, 0.2);
    width: 150px;
  }

  .subscribe :last-child {
    background-color: #1f1f1f;
    border: 1px solid rgb(139, 139, 139, 0.2);
    width: 50px;
  }

  .contact div p {
    margin-top: 0;
  }

  .contact div :first-child {
    margin-bottom: 0;
  }

  .searchbykey {
    flex-direction: row;
  }
}

@media only screen and (min-width: 1024px) {
  h1 {
    font-size: 50px;
    margin-bottom: 20px;
    padding-top: 100px;
    text-align: center;
    color: white;
  }

  .link span {
    display: inline-block;
    font-weight: 600;
  }

  .navbar a {
    text-decoration: none;
    color: white;
    font-size: 15px;
  }

  .button-input {
    padding: 8px;
    border-radius: 8px;
    border: none;
    font-weight: bold;
    background-color: #f17555;
    color: white;
  }

  .last-btn {
    margin-top: 20px;
    padding: 8px;
    border-radius: 4px;
    border: none;
    font-weight: bold;
    background-color: whitesmoke;
    color: black;
  }

  .step h3 {
    font-weight: 1000;
  }

  .gallery {
    height: 300px;
  }

  .gallery-left {
    width: 70%;
    flex-flow: column;
    justify-content: space-around;
  }

  .gallery-left h4 {
    font-size: 30px;
    color: white;
  }

  .gallery-left p {
    color: white;
    font-size: 20px;
  }

  .footer-bottom {
    padding-left: 20px;
    padding-right: 20px;
    justify-content: space-between;
  }

  .subscribe :first-child {
    background-color: black;
    border: 1px solid rgb(139, 139, 139, 0.2);
    width: 270px;
  }

  .subscribe :last-child {
    background-color: #1f1f1f;
    border: 1px solid rgb(139, 139, 139, 0.2);
    width: 80px;
  }

  .about p {
    font-size: 1px;
  }

  .searchbykey {
    flex-direction: row;
  }

  .search :first-child {
    padding-bottom: 10px;
    text-align: start;
  }
}
