@media only screen and (min-width: 768px) {
  h1 {
    font-size: 50px;
    margin-bottom: 10px;
    padding-top: 100px;
    text-align: center;
    color: white;
  }

  .navbar {
    flex-flow: row;
    justify-content: space-between;
    padding-bottom: 0;
  }

  .link span {
    display: none;
  }

  .navbar a {
    text-decoration: none;
    color: white;
    font-size: 15px;
  }

  .button-input {
    padding: 8px;
    border-radius: 8px;
    border: none;
    font-weight: bold;
    background-color: #f17555;
    color: white;
  }

  .last-btn {
    margin-top: 20px;
    padding: 8px;
    border-radius: 4px;
    border: none;
    font-weight: bold;
    background-color: whitesmoke;
    color: black;
  }

  .search :first-child {
    padding-bottom: 10px;
    text-align: start;
  }

  .steps {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .tour {
    height: 230px;
  }

  .tour-left {
    justify-content: center;
  }

  .gallery-left {
    width: 70%;
    flex-flow: column;
    justify-content: space-around;
  }

  .gallery-left h4 {
    font-size: 30px;
    color: white;
  }

  .gallery-left p {
    color: white;
    font-size: 20px;
  }

  .footer-center h3 {
    font-size: 16px;
    margin: 5px;
  }

  .footer-bottom p {
    font-size: 10px;
  }

  .footer-center div p {
    font-size: 14px;
  }

  .footer-top {
    flex-flow: row;
    justify-content: space-between;
    padding-top: 40px;
    margin-bottom: 20px;
    font-size: 12px;
  }

  .footer-top li {
    width: 100%;
  }

  li.icom {
    position: relative;
    width: 180px;
  }

  .icom i {
    position: absolute;
    top: -20px;
    background-color: black;
  }

  .footer-center {
    justify-content: space-around;
    align-items: flex-start;
    padding-top: 0;
    margin-bottom: 35px;
    flex-direction: row;
  }

  .footer-center div {
    font-size: 12px;
    border-bottom: 0;
    width: 33%;
    display: flex;
    flex-flow: column;
    align-items: center;
    height: 100px;
    justify-content: space-between;
  }

  .footer-bottom {
    flex-flow: row nowrap;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    justify-content: space-between;
  }

  .subscribe :first-child {
    background-color: black;
    border: 1px solid rgb(139, 139, 139, 0.2);
    width: 150px;
  }

  .subscribe :last-child {
    background-color: #1f1f1f;
    border: 1px solid rgb(139, 139, 139, 0.2);
    width: 50px;
  }

  .contact div p {
    margin-top: 0;
  }

  .contact div :first-child {
    margin-bottom: 0;
  }

  .searchbykey {
    flex-direction: row;
  }

  .prenda {
    margin-top: 22px;
    width: 180px;
    text-align: left;
  }

  .box-form {
    background-color: rgba(0, 0, 0, 0.1);
    padding: 7px;
    margin-top: 10%;
    font-weight: bold;
  }

  .prenda input {
    height: 30px;
    font-size: 13px;
  }

  .descfilters {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
  }

  .txtupfilter {
    font-weight: bold;
    color: rgba(111, 111, 120, 0.6);
    text-align: center;
  }

  .filters {
    padding-top: 10px;
  }

  .select-content {
    margin-top: 23px;
    padding-left: 10px;
  }

  .button-content {
    flex-direction: column;
    margin-top: 50px;
    padding-left: 10px;
    display: flex;
  }

  .clearbtn {
    background-color: #ffdb58;
    border: 1px solid yellow;
  }

  .contform {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }

  .searchbtn {
    border: 1px solid blue;
    background-color: #1d6bd1;
  }

  .card-container {
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    width: 650px;
    height: 320px;
    margin-top: 45px;
    margin-left: 55px;
  }

  .card {
    display: flex;
    background-color: #d95f4c;
    height: 100%;
    width: 100%;
    justify-content: space-between;
    margin: 10px;
  }

  .front {
    display: flex;
    color: #fff;
    position: absolute;
    margin-top: 115px;
    margin-left: 75px;
  }

  .front span {
    font-size: 17px;
    text-transform: uppercase;
    z-index: 2;
  }

  .yuyman {
    margin-top: 75px;
    font-size: 150px;
    color: #e46f52;
    margin-left: 100px;
  }

  .descfront {
    font-weight: bold;
  }

  .form-details {
    flex-direction: row;
    margin: 20px;
    justify-content: center;
  }

  .input-style {
    background-color: rgba(0, 0, 0, 0.1);
    border-bottom: 1px dashed black;
    width: 500px;
  }

  .label-content {
    padding-top: 20px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 13px;
  }

  .btn-form-details {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .form-tables {
    margin-bottom: 15px;
    border: 1px solid rgba(0, 0, 0, 0.1);
  }

  .form-tables input {
    width: 240px;
  }

  .box-form-details {
    margin-left: 30px;
    margin-right: 30px;
    background-color: #ffff;
    box-shadow: 1px 3px 3px 2px rgba(0, 0, 0, 0.2);
  }

  .table-mobile-td {
    padding-left: 25px;
    padding-right: 25px;
  }

  .snt-pete {
    padding-bottom: 9px;
  }

  .snt-pete i {
    font-size: 45px;
  }

  .snt-pete span {
    font-size: 39px;
  }

  .inf-form {
    flex-direction: row;
    padding: 15px;
  }

  .custo-btm {
    width: 30%;
    font-size: 11px;
  }

  .custo {
    font-size: 1px;
    height: 20px;
    width: 20%;
  }

  .btn-apply {
    justify-content: flex-end;
  }

  .map-vinta iframe {
    width: 90%;
    height: 600px;
  }

  .more-details {
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 20px;
  }

  .btn-more {
    font-size: 20px;
    width: 70%;
    height: 70px;
    letter-spacing: 0.2rem;
  }

  .more-more {
    margin-left: 30px;
    margin-right: 30px;
    background-color: rgba(0, 0, 0, 0.1);
    box-shadow: 1px 3px 3px 2px rgba(0, 0, 0, 0.1);
  }
}

@media only screen and (min-width: 1024px) {
  h1 {
    font-size: 50px;
    margin-bottom: 20px;
    padding-top: 100px;
    text-align: center;
    color: white;
  }

  .link span {
    display: inline-block;
    font-weight: 600;
  }

  .navbar a {
    text-decoration: none;
    color: white;
    font-size: 15px;
  }

  .button-input {
    padding: 8px;
    border-radius: 8px;
    border: none;
    font-weight: bold;
    background-color: #f17555;
    color: white;
  }

  .last-btn {
    margin-top: 20px;
    padding: 8px;
    border-radius: 4px;
    border: none;
    font-weight: bold;
    background-color: whitesmoke;
    color: black;
  }

  .step h3 {
    font-weight: 1000;
  }

  .gallery {
    height: 300px;
  }

  .gallery-left {
    width: 70%;
    flex-flow: column;
    justify-content: space-around;
  }

  .gallery-left h4 {
    font-size: 30px;
    color: white;
  }

  .gallery-left p {
    color: white;
    font-size: 20px;
  }

  .footer-bottom {
    padding-left: 20px;
    padding-right: 20px;
    justify-content: space-between;
  }

  .subscribe :first-child {
    background-color: black;
    border: 1px solid rgb(139, 139, 139, 0.2);
    width: 270px;
  }

  .subscribe :last-child {
    background-color: #1f1f1f;
    border: 1px solid rgb(139, 139, 139, 0.2);
    width: 80px;
  }

  .about p {
    font-size: 1px;
  }

  .searchbykey {
    flex-direction: row;
  }

  .search :first-child {
    padding-bottom: 10px;
    text-align: start;
  }

  .prenda {
    margin-top: 22px;
    width: 180px;
    text-align: left;
  }

  .box-form {
    background-color: rgba(0, 0, 0, 0.1);
    padding: 7px;
    margin-top: 10%;
    font-weight: bold;
  }

  .prenda input {
    height: 30px;
    font-size: 13px;
  }

  .descfilters {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
  }

  .txtupfilter {
    font-weight: bold;
    color: rgba(111, 111, 120, 0.6);
    text-align: center;
  }

  .filters {
    padding-top: 10px;
    flex-direction: column;
  }

  .select-content {
    margin-top: 23px;
    padding-left: 10px;
  }

  .button-content {
    margin-top: 50px;
    padding-left: 10px;
    display: block;
  }

  .clearbtn {
    background-color: #ffdb58;
    border: 1px solid yellow;
  }

  .contform {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }

  .searchbtn {
    border: 1px solid blue;
    background-color: #1d6bd1;
  }

  .card-container {
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    width: 850px;
    height: 320px;
    margin-top: 45px;
    margin-left: 250px;
  }

  .card {
    display: flex;
    background-color: #d95f4c;
    height: 100%;
    width: 100%;
    justify-content: space-between;
    margin: 10px;
  }

  .front {
    display: flex;
    color: #fff;
    position: absolute;
    margin-top: 110px;
    margin-left: 85px;
  }

  .front span {
    font-size: 25px;
    text-transform: uppercase;
    z-index: 2;
  }

  .yuyman {
    margin-top: 45px;
    font-size: 200px;
    color: #e46f52;
    margin-left: 120px;
    z-index: 2;
  }

  .descfront {
    font-weight: bold;
  }

  .form-details {
    flex-direction: row;
    margin: 20px;
    justify-content: center;
  }

  .input-style {
    background-color: rgba(0, 0, 0, 0.1);
    border-bottom: 1px dashed black;
    width: 500px;
  }

  .label-content {
    padding-top: 20px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 13px;
  }

  .btn-form-details {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .form-tables {
    margin-bottom: 15px;
    border: 1px solid rgba(0, 0, 0, 0.1);
  }

  .form-tables input {
    width: 500px;
  }

  .box-form-details {
    margin-left: 100px;
    margin-right: 100px;
    background-color: #ffff;
    box-shadow: 1px 3px 3px 2px rgba(0, 0, 0, 0.2);
  }

  .table-mobile-td {
    padding-left: 25px;
    padding-right: 25px;
  }

  .snt-pete {
    padding-bottom: 9px;
  }

  .snt-pete i {
    font-size: 45px;
  }

  .snt-pete span {
    font-size: 39px;
  }

  .inf-form {
    flex-direction: row;
    padding: 25px;
  }

  .map-vinta iframe {
    width: 70%;
    height: 600px;
  }

  .more-details {
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 50px;
  }

  .btn-more {
    font-size: 20px;
    width: 70%;
    height: 70px;
    letter-spacing: 0.2rem;
  }

  .more-more {
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 50px;
    background-color: rgba(0, 0, 0, 0.1);
    box-shadow: 1px 3px 3px 2px rgba(0, 0, 0, 0.1);
  }
}
