nav {
  width: 100%;
  z-index: 20;
  margin-top: -20px;
}

ul {
  list-style-type: none;
  margin: 0;
}

.navbar a {
  text-decoration: none;
  color: white;
  font-size: 15px;
}

.link span {
  text-transform: uppercase;
  font-size: 15px;
  font-family: monospace;
  font-weight: bold;
  display: none;
}

.logo span {
  text-transform: lowercase;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 30px;
}

.flex {
  display: flex;
}

.align-center {
  align-items: center;
}

.text-center {
  text-align: center;
}

.navbar {
  padding: 20px;
  padding-top: 25px;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
}

.logo {
  margin-top: 4px;
  margin-bottom: 14px;
  font-size: 30px;
}

.logo i {
  font-size: 30px;
}

.link {
  margin-left: 15px;
  margin-right: 10px;
  margin-top: 3px;
  margin-bottom: 4px;
  display: flex;
}

.cover {
  background: url(../assets/bookbg.jpg) no-repeat center center/ cover;
  background-size: cover;
  background-position: center;
  min-height: 600px;
  max-height: 800px;
  z-index: 10;
  padding: 15px;
  margin-bottom: 0;
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)),
    url("../assets/bookbg.jpg");
}

.text-search {
  position: relative;
  text-align: center;
  border-radius: 8px;
  max-width: 1200px;
  margin: auto;
}

.search {
  width: 95%;
  min-width: 100px;
  max-width: 900px;
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 40px;
  border-radius: 10px;
}

label {
  margin-left: 10px;
}

.button-input {
  padding: 6px;
  border-radius: 6px;
  border: #f17555;
  font-weight: bold;
  background-color: #f17555;
}

.searchbykey {
  flex-direction: column;
}

.last-btn {
  margin-top: 20px;
  padding: 8px;
  border-radius: 4px;
  border: none;
  font-weight: bold;
  background-color: whitesmoke;
  color: black;
}

h1 {
  font-size: 25px;
  margin-bottom: 10px;
  padding-top: 100px;
  text-align: center;
}

h2 {
  padding: 30px;
  text-align: center;
  color: #f17555;
}

.steps {
  margin-bottom: 60px;
}

.step {
  text-align: center;
  width: 100%;
  max-width: 300px;
  margin: auto;
  margin-top: 40px;
}

.step i {
  font-size: 25px;
}

.gallery {
  padding: 15px;
  height: 200px;
  width: 100%;
}

.gallery-right {
  width: 30%;
  text-align: end;
}

.gallery-left {
  width: 70%;
  flex-flow: column;
  justify-content: space-around;
}

.gallery-left h4 {
  font-size: 20px;
}

.gallery-left p {
  font-size: 15px;
}

.gallery-left button {
  padding: 8px;
  width: 160px;
  border-radius: 10px;
}

.gallery-right img {
  max-height: 100%;
  max-width: 100%;
  padding-left: 5px;
  border-radius: 50%;
  padding-top: 15px;
}

.gallery1 button {
  color: #f17555;
  border: none;
  box-shadow: 1px 2px 5px 2px rgba(0, 0, 0, 0.2);
}

.gallery2 {
  background-color: #98a5a5;
}

.gallery2 button {
  color: gray;
  border: none;
  box-shadow: 1px 2px 5px 2px rgba(0, 0, 0, 0.2);
  font-size: 15px;
}

.gallery3 {
  background-color: #509cd8;
}

.gallery3 img {
  border-radius: 0%;
  padding-top: 20px;
}

.salmon {
  background-color: #f17555;
}

footer {
  background-color: black;
}

.footer-top {
  font-size: 9px;
  padding: 0;
  flex-flow: column;
  padding-top: 20px;
  background-color: black;
  padding-left: 25px;
  padding-right: 25px;
}

.footer-top li {
  border-top: 1px solid rgb(139, 139, 139, 0.2);
  padding: 5px;
  justify-content: space-between;
}

.line-below {
  border-bottom: 1px solid rgb(139, 139, 139, 0.2);
}

.footer-top a {
  padding: 5px;
  color: white;
}

.icom {
  flex-direction: column;
}

.icom i {
  font-size: 50px;
  border: white 1px solid;
  padding: 15px 22px;
  border-radius: 50%;
}

.footer-center {
  flex-direction: column;
  background-color: black;
  text-align: center;
  padding: 15px;
  padding-bottom: 0;
}

.footer-center div {
  margin-top: 20px;
  border-bottom: 1px solid rgb(139, 139, 139, 0.2);
  padding-bottom: 20px;
}

.footer-center h3 {
  margin: 0;
  margin-bottom: 10px;
}

.footer-bottom {
  background-color: #212121;
  color: rgb(160, 160, 160);
  text-align: center;
  padding: 15px;
  font-size: 10px;
  flex-direction: column;
}

.subscribe input {
  padding: 5px;
  border: 1px solid rgb(139, 139, 139, 0.2);
}

.subscribe :first-child {
  background-color: black;
  border: 1px solid rgb(139, 139, 139, 0.2);
  width: 150px;
}

.subscribe :last-child {
  background-color: #1f1f1f;
  border: 1px solid rgb(139, 139, 139, 0.2);
  width: 50px;
}

.contact div :last-child {
  color: #f17555;
}

.about span a {
  color: #f17555;
}

.about p {
  color: white;
}

.contact div p {
  display: inline;
}

.footer-bottom i {
  padding: 4px;
}

.white {
  color: white;
}

.prenda {
  margin-top: 15px;
  width: 100%;
  text-align: left;
}

.box-form {
  background-color: rgba(0, 0, 0, 0.1);
  padding: 7px;
  margin-top: 10%;
  font-weight: bold;
}

.prenda input {
  font-size: 13px;
  padding-left: 10px;
}

.descfilters {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
}

.txtupfilter {
  font-weight: bold;
  color: rgba(111, 111, 120, 0.6);
  text-align: center;
}

.filters {
  padding: 10px;
  flex-direction: row;
}

.select-content {
  margin-top: 23px;
  padding-left: 10px;
}

.button-content {
  flex-direction: column;
  margin-top: 50px;
  padding-left: 10px;
  display: block;
}

.clearbtn {
  background-color: #ffdb58;
  border: 1px solid yellow;
}

.contform {
  flex-flow: column;
}

.searchbtn {
  border: 1px solid blue;
  background-color: #1d6bd1;
}

.card-container {
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  width: 350px;
  height: 200px;
  margin-top: 25px;
  margin-left: 5px;
  margin-bottom: 20px;
}

.card {
  background-color: #d95f4c;
  height: 100%;
  width: 100%;
  margin: 10px;
}

.front {
  display: flex;
  color: #fff;
  position: absolute;
  margin-top: 28px;
}

.front span {
  font-size: 10px;
  text-transform: uppercase;
  text-align: center;
}

.yuyman {
  margin-top: 45px;
  font-size: 85px;
  color: #e46f52;
  margin-left: 40px;
  z-index: 2;
}
