@media only screen and (min-width: 768px) {

  h1 {
    font-size: 50px;
    margin-bottom: 10px;
    padding-top: 100px;
    text-align: center;
    color: white;
  }    

  .navbar {
    flex-flow: row;
    justify-content: space-between;
    padding-bottom: 0;
  }

  .link span {
    display: none;
  }

  .navbar a {
    text-decoration: none;
    color: white;
    font-size: 15px;
  }

  .button-input {
    padding: 8px;
    border-radius: 8px;
    border: none;
    font-weight: bold;
    background-color: #f17555;
    color: white;
  }

  .last-btn {
    margin-top: 20px;
    padding: 8px;
    border-radius: 4px;
    border: none;
    font-weight: bold;
    background-color: whitesmoke;  
    color: black;
  }

  .steps {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

}

@media only screen and (min-width:1024px) {  

  h1 {
    font-size: 50px;
    margin-bottom: 20px;
    padding-top: 100px;
    text-align: center;
    color: white;
  }

  .link span {
    display: inline-block;
    font-weight: 600;
  }

  .navbar a {
    text-decoration: none;
    color: white;
    font-size: 15px;
  }

  .button-input {
    padding: 8px;
    border-radius: 8px;
    border: none;
    font-weight: bold;
    background-color: #f17555;
    color: white;
  }

  .last-btn {
    margin-top: 20px;
    padding: 8px;
    border-radius: 4px;
    border: none;
    font-weight: bold;
    background-color: whitesmoke;  
    color: black;
  }

  .step h3 {
    font-weight: 1000;
  }
}
